<svg ng-attr-width="{{width}}" ng-attr-height="{{height}}" class="area-chart" ng-init="lineHeight = 25; height=150;  textWidth = 60">
    <g ng-attr-transform="translate(0,{{(height - (lineHeight+1)*(values.length + 0.5))/2}})">
        <g class="rects">
            <g ng-attr-transform="translate({{textWidth}},8)">
                <rect x="0"
                      ng-attr-width="{{width - textWidth}}"
                      clip-path="url(#rectangles-clip{{id}})"
                      fill="url(#gradient)"
                      ng-attr-height="{{(lineHeight+1)*(values.length)}}"></rect>


                <line fill="white" x1="0" stroke="white" stroke-width="1" opacity="0.7"
                      ng-repeat="w in values"
                      ng-attr-x2="{{width - textWidth}}"
                      ng-attr-y1="{{(lineHeight + 1)*$index}}"
                      ng-attr-y2="{{(lineHeight + 1)*$index}}"></line>
            </g>
            <text fill="white" x="0" text-anchor="middle" fill-opacity="0.7"
                  ng-repeat="w in values"
                  ng-attr-y="{{(lineHeight + 1)*$index}}"
                  ng-attr-dy="{{lineHeight}}"
                  dx="28">
                {{w}} PM
            </text>
        </g>
        <defs>
            <clipPath id="rectangles-clip{{id}}" class="rectsClip"></clipPath>
        </defs>
    </g>
</svg>

<div ng-include="'src/volume-usage-graph/temperature-gradient.html'"></div>