<div class="find-location row small-padding">
    <div class="col-sm-12 text-left">
        <form class="form-inline hidden-xs">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" placeholder="FIND LOCATION" class="form-control"/>
                </div>
            </div>
            <button class="btn btn-danger">&nbsp;&nbsp;&nbsp;&nbsp;FIND&nbsp;&nbsp;&nbsp;&nbsp;</button>
        </form>
        <div class="visible-xs">
            <input type="text" placeholder="FIND LOCATION" class="form-control col-xs-12"/>
        </div>
    </div>
</div>