<div class="gl-header">
    <div class="row visible-xs" >
        <h4 class="col-xs-2 text-left">
            <span class="back-link" ng-click="goBack()"">BACK</a>
        </h4>
        <h4 class="col-xs-8">
            ONYX<span class="light-grey">&#8482;&nbsp;</span>SITE OUTLOOK
        </h4>
        <div class="col-xs-2">
            <div class="gl-logo" style="height: 35px"></div>
        </div>
    </div>

    <div class="row hidden-xs">
        <h3 class="col-xs-2 text-left">
            <span class="back-link" ng-click="goBack()"">BACK</a>
        </h3>
        <h2 class="col-xs-8">
            ONYX<span class="light-grey">&#8482;&nbsp;</span>
            SITE OUTLOOK
        </h2>
        <div class="col-xs-2">
            <div class="gl-logo" style="height: 70px"></div>
        </div>
    </div>
</div>